doctype html
html
  head
    meta(charset='utf-8')
    title Semantic Elements
  body
    header
      h1 Semantic Elements HTML5
    nav
      a(href='http://www.w3schools.com/html/html5_semantic_elements.asp') MAN
      |  |
      a(href='https://gist.github.com/neaptolem/b384433be25cb54d6a30422903b1eebb') TODO
    main
      article
        section
          h2 Section tag
          p Section, sample text.
        figure
          img(src='img/html5.png', alt='html5 icon', height='170', width='170')
          figcaption HTML5 icon
        time(pubdate='') 2016-11-05 14:32
      br
      details
        summary Show more details
        p more details
    aside
      h3 Aside
      ul
        li
          | list
          mark tag
          | s
        li
          | example
          mark tag
        li
          | i
          mark hate
          |  yellow
    footer
      p(align='center')
        small
          | Contact information:
          a(href='example@user.com') example@user.com
